@import "tailwindcss";

:root {
    --primary: #cb1919;
    --faded-text: #9ca3af;
}

@theme inline {
    --color-primary: var(--primary);
    --color-faded-text: var(--faded-text);

    --font-lato400: var(--font-lato400);
    --font-lato900: var(--font-lato900);
    --font-montserrat400: var(--font-montserrat400);
    --font-afacad700: var(--font-afacad700);
    --font-dmSans400: var(--font-dmSans400);
    --font-manrope400: var(--font-manrope400);
    --font-plusJakartaSans400: var(--font-plusJakartaSans400);
}

.tag {
    @apply text-primary font-lato900 inline-block rounded-full bg-red-200 px-4 py-2 text-sm uppercase;
}

h2 {
    @apply font-lato900 text-2xl font-bold;
}

/* 
* {
  outline: 1px solid red;
} */


/* Sign up images */

.house-info {
  --_br: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  position: relative;
}

.house-image {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  border-radius: var(--_br);
  overflow: hidden;
}

.house-image::before,
.house-image::after,
.house-price::after {
  --_size: var(--_br);
  content: "";
  position: absolute;
  width: var(--_size);
  aspect-ratio: 1;
  background-image: radial-gradient(circle at 100% 100%,
      transparent var(--_size),
      var(--_corner-color, white) calc(var(--_size) + 1px));
  rotate: -90deg;
}

.house-image::before {
  left: 0;
  bottom: 0;
  grid-column: 2;
  grid-row: 2 / 3;
}

.house-image::after {
  left: 0;
  bottom: 0;
  grid-column: 1;
  grid-row: 1 / 2;
  box-shadow: -1rem 0 0 white;
}

.house-image img {
  object-fit: cover;
}

.house-price {
  display: grid;
  padding: 1rem 1rem 0 1rem;
  background: white;
  font-weight: 500;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-radius: var(--_br) var(--_br) 0 0;
  box-shadow: 0 1rem 0 white, 0 0 0 1rem white;
}

.house-price::after {
  --_size: calc(var(--_br) * 1.5);
  --_corner-color: white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  left: -1rem;
  bottom: -1rem;
}

.house-price span {
  display: grid;
  place-items: center;
  background: white;
  padding: 0.75rem 0;
  border-radius: calc(var(--_br) / 2);
}
